/* section Reset pour effacer le css du navigateur*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    background-color: rgb(2, 2, 2);
    width: 100%;
    font-family: "Lobster", cursive, Verdana, Geneva, Tahoma, sans-serif;}

/* section Télechargement de la police Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* section menu header*/

.logo {
    border: solid white;
    border-radius: 20px;
    margin-top: 2em;
    margin-left: 4em;
    height: 10em;
    width :25em}
    
.header {
    display: flex;
    justify-content: start;
    margin-right: 5em;}

 /* section menu desktop*/

ul {
    display: flex;
    justify-content: space-around;
    background:-webkit-linear-gradient(bottom, white, rgb(2, 250, 44));
    font-size: large;
    color: black;
    font-weight: bold;
    margin-top: 1.8em;
    height: 3em;
    margin-left: 6em;
    margin-right: 3.5em;
    border-radius: 1em;
    list-style: none;
    width:45em;
    border: solid white;}

.navJS {
     font-size:20px;
     color: white;}   

a {
    color: black;}
    
.social {
    margin-top: 1.8em;
    display: flex;
    margin-left:3em;}

/* section menu mobile*/

.navbar-mobile-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.navbar-mobile-list a {
    font-size:15px;
    font-weight: bold;
    color: #010101;
    padding: 1rem;
    padding-top: 0.1rem;}

.navbar-mobile-list a:hover {
    color: white;}

/* section liner-1 (2 traits horizontaux)*/
    
.liner-1a {
    background-color: white;
    width: 85em;
    height: 0.4em;
    margin-left: 4em;
    margin-top: 3em;
    margin-right: 4em;
    border-radius: 1em;}
    
.liner-1b {
    background-color: white;
    width: 85em;
    height: 0.4em;
    margin-left: 4em;
    margin-top: 1em;
    margin-right: 4em;
    border-radius: 1em;}
        
/* section main */
               
.maintop { 
    display: flex;
    justify-content: flex-start;}
        
.imgtop { /*image en haut a gauche */
    width: 35%;
    margin-left: 5%;
    margin-top: 4%;
    border-radius: 2em;
    border:solid white;
    height: 5%;}

.p-top { /*texte en haut a droite */
    margin-left: 4%;
    margin-right: 10%;
    margin-top: 3em;
    font-size: X-large;
    color: white;
    text-align: center;
    font-weight: bold;}

/* section liner-2*/
        
.liner-2a {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 5%;
    border-radius: 1em;}
        
.liner-2b {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 1em;
    border-radius: 1em;}

/* section wrappercont (grid container) */

#wrappercont {     
    margin-top: 4%;
    display:grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50%) ;
    grid-gap :15px;}

/*section items box (boites avec contenu texte et button) */  

.boxcontent {
    display: flex;
    border-radius: 2em;
    background: -webkit-linear-gradient(bottom, white, rgb(2, 250, 44));
    padding: 20px;
    height: 320px;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border: solid white;}

.boxcontent p {
    font-weight: bold;
    font-size: large;}

.bouton, .bouton a {
    padding: 5px 10px;
    font-size:large;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    text-decoration: none;}
    
/*section items box (boites avec des images) */

.boximage {
    border-radius: 2em;}

.boximage img {
    border-radius: 2em;
    height: 320px;
    width: 400px;}

/* section liner-3*/

.liner-3a {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 5%;
    border-radius: 1em;}

.liner-3b {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 1%;
    border-radius: 1em;}

/*section mainbot (compétition et tousconcernes) */

.mainbotleft{
    width: 15%;
    margin-left:5em;
    margin-top: 3em;
    border-radius: 2em;
    height:20em;
    border: solid white;}

.mainbotright {
    width:15%;
    margin-left:em;
    margin-top: 3em;
    border-radius: 2em;
    margin-right: 15em;
    height: 20em;
    border: solid white;}

#mainbot {
    display: flex;
    justify-content:flex-start;
    margin-left: 8em;}

#mainbot p {
    font-weight: bold;
    font-size: large;
    color: white;
    margin-left:50em;
    margin-right: 5em;
    margin-top: em;
    width:20%;}

.compet {
        font-weight: bold;
        font-size: x-large;
        color: white;
        margin-left:7em;
        margin-right: 5em;
        margin-top: 1em;
        width:50%;}

#tousconcern img {
    width: 60%;
    height: 20em;
    border-radius: 2em;
    margin-top: 4em;
    margin-left: 18em;
    border: solid white;}

/* section liner-4*/

.liner-4a {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 5%;
    border-radius: 1em;}

.liner-4b {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 1%;
    border-radius: 1em;}

/*section sejour */

h3 {
    color:white;
    margin-top:2em ;
    margin-left: 0em;
    text-align: center;
    font-size: x-large;}

#sejour p {
  color:white;
  font-size: x-large;
  margin-top: 2em;
  font-weight: bold;
  text-align: center;}

#sejour img {
    border-radius: 2em;
    margin-left: 15em;
    margin-top: 2em;
    width: 70%;
    border: solid white;}

/* section liner-5*/

.liner-5a {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 5%;
    border-radius: 1em;}

.liner-5b {
    background-color: white;
    width: 45em;
    height: 0.4em;
    margin: auto;
    margin-top: 1%;
    border-radius: 1em;}

/*section footer (formulaire de contact) */

#contact {
    color:white;
    font-size: x-large;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 2em;}

.title-contact {
    font-size: 20px;
    color: rgb(254, 253, 253);
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;}

.champ1 input {
    height: 30px;
    width: 40%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    margin: auto;}

.champ2 textarea {
    width: 40%;
    height: 50%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    margin: auto;}

.bouton-submit {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 30px;}

#submit {
    color: rgb(4, 4, 4);
    font-size: medium;
    font-weight: bold;
    width: 10%;
    height: 100%;
    margin-top: 2%;}

#contactForm {
    border: solid white;
    border-radius: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    background: -webkit-linear-gradient(bottom, white,
                rgb(2, 250, 44));}

/*section footend (pied de page) */

#scroll_to_top {
    position: fixed;
    width: 6vw;
    height:auto ;
    bottom: 2vw;
    margin-right: 3%;}

#scroll_to_top img {
    width: 3vw;
    background-color: rgb(5, 231, 80);
    border-radius: 1em;
    font-weight: bold;
    font-size: 15px;}

#footend {
    background: -webkit-linear-gradient(bottom, white,
        rgb(2, 250, 44));
    display: flex;
    justify-content:flex-start;
    width: 79%;
    height:4em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    border-radius: 2em;
    padding-top: 0.1em;
    font-weight: bold;
    border: solid white;}

#footend p {
    margin-left: 1em;
    margin-right: 2em;
    display: flex;
    margin-top: 0.5em;}

/*section Animation et transition  */

.tb2 {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -moz-animation: all 1s ease;
    /* Firefox */
    -webkit-transition: all 1s ease;
    /*Chrome*/ }

.tb2:hover {
    /* L'image est grossie de 50% */
    -moz-transform: scale(1.50);
    /* Firefox */
    -webkit-transform: scale(1.50);
    /*Chrome*/ }

.bb1 {
    -moz-animation: all 1s ease;
    -webkit-transition: all 1s ease;}

.bb1:hover {
    -moz-transform: scale(1.50);
    -webkit-transform: scale(1.50);}

.bb3 {
    -moz-animation: all 1s ease;
    -webkit-transition: all 1s ease; }

.bb3:hover {
    -moz-transform: scale(1.50);
    -webkit-transform: scale(1.50);}

.imgsperone {
    -moz-animation: all 1s ease;
    -webkit-transition: all 1s ease;}

.imgsperone:hover {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);}

/* section MEDIA QUERIES RESPONSIVE SMALL MOBILE */
@media screen and (max-width:400px){

.header{
    display: grid;
    flex-direction: column;
    align-items: center;
    width :100%;}

.social a{
    margin-top: 5em;
    margin-left: 2em;}

.social img  {
       width: 10rem;}

.logo {
    width: 70%;
    height: 100%;
    margin-left: 20%;
    margin-top: 3em;}
    
ul {
     display: none;}

.modal {
    background-color: chartreuse;
    height: 75%;
    width: 80%;
    margin-left: 6.5em;
    margin-top: 5em;
    border-radius: 2em;
    margin-bottom: 2em;}

 .navbar-mobile-list a {
     font-size: 55px;
     font-weight: bold;
     color: #010101;
     padding: 1rem;
     padding-top: 0.1rem;}

.p-top {
    display: grid;
    min-width:25em;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left:2em;
    color: rgb(248, 244, 244);
    font-size: x-large;}

.navbar-desktop {
    display: none;}

.imgtop {
    display: none;}

.liner-1a,
.liner-1b,
.liner-2a,
.liner-2b,
.liner-3a,
.liner-3b,
.liner-4a,
.liner-4b,
.liner-5a,
.liner-5b {
    margin-left:15em;
    width: 80%;
    margin-top: 2em;}

.boxcontent p{
    display: flex;
    justify-content: center;
    width: 30em;}

.boxcontent {
    margin-left:0.1em;
    margin-right: 6em;
    margin-bottom: 2em;}

.boximage {
    margin-right: 5em;
    margin-bottom: 2em;}

#wrappercont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    margin-left: 25em;}

#mainbot {
    display:flex;
    flex-direction: column;
    width: 80%;}

.mainbotleft {
    width: 80%;
    margin-left: 8em;
    margin-bottom: 2em;}

ol.compet {
    width: 20%;
    margin-left: 1em;
    font-size: 20px;}

ol.compet li {
    width: 25rem;
    margin-left: 1em;
    font-size: 20px;}

ol.compet h2 {
    text-align: right;
    margin-left: 4em;
    font-size: 30px;
    margin-bottom: 1em;}

.mainbotright {
    width: 80%;
    margin-left: 8em;}

#tousconcern img {
    width:35em;
    margin-left: 4em;
    margin-bottom: 2em;}

#sejour img {
    margin-left: 4em;
    margin-bottom: 2em;
    width:35em;}

#sejour p {
    margin-left:2em;
    margin-right:10em;
    font-size: 25px;
    width: 25em;}

#sejour h3{
margin-left: 3em;
    width: 25em;}

#footend {
    margin-left: 4em;
    width: 35em;}

#footend .adresse {
    display: none;}

#contactForm {
    width: 35em;
    margin-left: 4em;}

#submit {
    width: 5em;}

#contact {
    font-size: large;
    font-weight: bold;
    margin-left: 5em;
    width: 30em;}
}

/* section MEDIA QUERIES RESPONSIVE MOBILE */

@media screen and (min-width:400px) and (max-width:768px){ 

.navbar-mobile{
    display: block;}
    
.modal {
     background-color: chartreuse;
     height: 255%;
     margin-left: 3em;
     margin-top: 2em;
     border-radius: 2em;
     margin-bottom: 2em;}

.navbar-desktop{
    display: none;}
 
.liner-1a,.liner-1b,.liner-2a,.liner-2b,
.liner-3a,.liner-3b,.liner-4a,
.liner-4b,.liner-5a,.liner-5b{
    margin-left: 10%;
    width: 80%;
    margin-top: 1em;}

.logo { 
    width: 60%;
    height: 50%;
    justify-content: center;
    margin-left: 10%;
    margin-top: 3em;}

 ul {
    display: none;}

.imgtop {
     display: none;}

.p-top {
    display: grid;
    min-width:80%  ;
    flex-direction: column;
    align-items:center ;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 2em;
    color: rgb(248, 244, 244);
    font-size: large;}

.social {
    display: none;}

#wrappercont {
display:flex;
flex-direction: column;
align-items: center;
margin-top: 2em;
margin-left: 5em;}

.boxcontent
.boximage {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5em;}

#mainbot{
    display: flex;
    flex-direction: column; }

.mainbotleft{
  width: 70%;
  margin-left: 1em;}

.mainbotright {
    width: 70%;
    margin-left: 1em;}

ol.compet {
    width: 20%;
    margin-left: 1em;
    font-size: 20px;}

ol.compet li {
   width: 15rem;
   margin-left: 3em;
   font-size: 20px;}

ol.compet h2 {
    text-align:right;
    margin-left: 2em;
    font-size: 30px;}

#tousconcern img{
    width:80%;
    margin-left: 4em;
    margin-right: 3em;
    margin-bottom: 2em;}

#sejour img {
    margin-left: 6em;
    margin-bottom: 2em;
    width: 70%;}

#sejour p {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 20px;}

#footend {
   max-width: 80%;
   margin-left: 3em;}

#footend .adresse {
    display: none;}

#contactForm {
    width: 70%;
    margin-left: 5em;}

#submit{
    width: 5em;}

#contact{
    font-size:large;
    font-weight: bold;}
}

/* section MEDIA QUERIES RESPONSIVE TABLETTE */

@media screen and (min-width:768px) and (max-width:1024px) {

.navbar-mobile-list {
    display:none;}

.navbar-mobile{
    display: none;}

ul {
    display: flex;
    justify-content: space-around;
    background: -webkit-linear-gradient(bottom, white, rgb(2, 250, 44));
    font-size: large;
    color: rgb(7, 7, 7);
    font: weight 160px;;
    margin-top: 1.8em;
    height: 3em;
    margin-left: em;
    margin-right: 3.5em;
    border-radius: 1em;
    list-style: none;
    width: 45em;
    border: solid white;}

.liner-1a,
.liner-1b,
.liner-2a,
.liner-2b,
.liner-3a,
.liner-3b,
.liner-4a,
.liner-4b,
.liner-5a,
.liner-5b {
    display: none;}

.logo {
    margin-bottom: 2em;}

.imgtop {
    margin-left: 2em;
    width: 60%;
    margin-bottom: 3em;
    margin-top: 2em;}

.p-top {
    margin-left: 2em;
    margin-right: 18em;
    min-width: 90%;
    margin-top: 1.5em;
    font-size: X-large;
    color: white;
    text-align: center;
    font-weight: bold;}

#wrappercont {
    margin-top: 4rem;
    margin-bottom: 2em;
    display: grid;
    margin-left: 20%;
    margin-right: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 15px;}

.mainbotleft {
    width: 40%;}

.mainbotright {
    width: 40%;}

#mainbot {
    display: flex;
    flex-direction:row;
    margin-left: 15em;
    margin-right: 3em;}

#tousconcern img {
    width: 95%;
    margin-left: 25em;
    margin-bottom: 2em;}

#sejour img {
    margin-left: 22em;
    margin-bottom: 2em;
    width:100%;}

#sejour p {
    margin-left: 16em;
    min-width: 70%;
    margin-right: 2em;
    font-size: 30px;}

#sejour h3{
    font-size: 30px;
    margin-left: 15em;
    min-width: 70%;
    margin-left: 16em;}

#footend {
    min-width: 100%;
    margin-left: 18em;
    height: auto;
    font-size:large;}

#contactForm {
    width: 95%;
    margin-left: 22em;}

#submit {
    width: 5em;}

#contact {
    font-size: 30px;
    font-weight: bold;
    margin-left: 15em;
    min-width:70%;}
}

/* section MEDIA QUERIES RESPONSIVE LAPTOP */

@media screen and (min-width:1024px) {

.navbar-mobile-list {
    display: none;}

    .navbar-mobile {
    display: none;}

.liner-1a,
.liner-1b{
    min-width: 50%;}

.liner-2a,
.liner-2b,
.liner-3a,
.liner-3b,
.liner-4a,
.liner-4b,
.liner-5a,
.liner-5b {
    margin-left: 15%;
    min-width: 70%;
    margin-top: 1em;}
}

